<!-- products/templates/add_product.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ozon Parser 💀</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <header>
            <form id="add_product_form" method="POST">
                {% csrf_token %}
                <label for="ozon">
                    <input id="add_input" type="text" name="ozon" id="ozon" placeholder="Ввод ссылки озон товара">
                </label>
                <button type="submit" id="submit">Add product</button>
            </form>
        </header>

        <section class="products">
            {% if product %}
                <h2>Добавленный товар:</h2>
                <p>Название: {{ product.name }}</p>
                <p>Цена: {{ product.price }}</p>
            {% endif %}

            {% for p in all_products %}
            <div id="products">
                <div class="product">
                    <strong>Название товара:</strong>
                    <p class="product_name" title="{{ p.name }}"><a href="{{ p.url }}" target="_blank">{{ p.name }}</a></p>
                    <strong>Начальная цена:</strong>
                    <p>{{ p.price }}</p>
                    <strong>При последней проверке:</strong>
                    <p>{{ p.price }}</p>
                    <strong>Купить при падении на:</strong>
                    <form id="add_procent_form" method="POST">
                        {% csrf_token %}
                        <label for="procent">
                            <input id="add_procent" type="text" name="procent" id="procent" placeholder="%">
                        </label>
                        <button type="submit" id="accept"><svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 26.5L25 46.5L50 5" stroke="white" stroke-width="10" stroke-linecap="round"/></svg></button>
                    </form>
                    <strong class="procent_minus procent_plus zero_procent">{}</strong>
                    <button type="submit" id="delete">Delete</button>
                </div>
            </div>
            {% empty %}
                <p>Пока нет добавленных товаров.</p>
            {% endfor %}
        </section>
    </main>
</body>
</html>
