:root {
    --background-color: #001A34;
    --font-size-base: 62.5%;
    --primary-color: #0050E0;
    --background-twice: #FFFFFF;
    --red-procent: #E54528;
    --green-procent: #A9E58B;
    --gray-procent: gray;
}

* {
    box-sizing: border-box;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

html {
    font-size: var(--font-size-base);
}

p {
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    background-color: rgba(0, 26, 52, 0.1);
}

header {
    height: 84px;
    background-color: var(--background-twice);
    display: flex;
    justify-content: center;
}

#submit {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    all: unset;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--background-twice);
    height: 57px;
    width: 229px;
    border-radius: 15px;
    border-width: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 3.2rem;
    border: 2px solid var(--primary-color);
	transition: all .4s ease 0s;
}

#accept {
    background-color: var(--primary-color);
    all: unset;
    cursor: pointer;
    background-color: var(--primary-color);
    height: 57px;
    width: 57px;
    border-radius: 15px;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#accept:hover {
    transform: scale(1.1); /* Увеличение размера кнопки */
    background-color: var(--green-procent); /* Изменение цвета на акцентный */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}


#delete {
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--background-twice);
    height: 57px;
    width: 215px;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 3.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


#add_procent_form {
    display: flex;
    align-items: center;
    gap: 27px;
}

#add_procent {
    outline: none;
    width: 210px;
    height: 57px;
    border-radius: 15px;
    border-width: 3px;
    border-color: var(--primary-color);
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
}

#add_product_form {
    display: flex;
    align-items: center;
    gap: 84px;
}

#add_input {
    outline: none;
    width: 959px;
    height: 57px;
    border-radius: 15px;
    border-width: 3px;
    border-color: var(--primary-color);
    font-weight: 100;
    font-size: 2.4rem;
}




.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    column-gap: 60px;
    row-gap: 60px;
    margin-top: 30px;
}


.product {
    display: flex;
    height: 555px;
    width: 335px;
    background-color: var(--background-twice);
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.align_start {
    align-self: self-start;
}

.product_name {
    display: inline-block;
    width: 90%;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.product_name a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.product_name a:focus, a:hover {
    text-decoration: none;
    color: inherit;
}

.procent_plus {
    font-size: 6.4rem;
    margin: 20px 0;
    color: var(--green-procent);
}

.procent_minus {
    font-size: 6.4rem;
    margin: 20px 0;
    color: var(--red-procent);
}

.zero_procent {
    font-size: 6.4rem;
    margin: 20px 0;
    color: var(--gray-procent);
}



@keyframes blink {
    50% {
    opacity: 0;
    }
}


#delete {
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--background-twice);
    height: 57px;
    width: 215px;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 3.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#delete:hover {
    transform: scale(1.1);
    background-color: var(--red-procent);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


#submit:hover {
	background-color: white;
	color: var(--primary-color);
}