<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ozon Parser 💀</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <header>
            <form id="add_product_form" method="POST">
                {% csrf_token %}
                <label for="ozon">
                    <input id="add_input" type="text" name="ozon" id="ozon" placeholder="Ввод ссылки озон товара">
                </label>
                <button type="submit" id="submit">Add product</button>
            </form>
        </header>

        <section class="products">
            {% if price %}
                <p>Цена товара: {{ price }}</p>
            {% endif %}
        </section>
    </main>
</body>
</html>
